<h1>Show current articles</h1>

<p><strong>Title: </strong><%= @article.title %></p>
<p><strong>Desctiption: </strong><%= @article.description %></p>

<p>
  <%= link_to 'Edit', edit_article_path(@article) %> |
  <%= link_to 'Delete', article_path(@article), data: { confirm: 'Are you sure?' } %> |
  <%= link_to 'Cancel', articles_path %>
</p>